<div class="banner">
    <h1 class= "Title">Job List</h1>
</div>
<div ng-controller="listController">
    <ul>
        <div class="spread" ng-repeat="character in data">
            <img class="image" ng-src="{{character.Image}}"> 
            <h3 class= "message"> Job: {{character.job}} </h3>
            <h3 class= "message"> Type: {{character.type}}</h3>
           
               <button class="frontdoor" ng-click="getId(character.id)" value="submit" class="optionbutton">[View info]</button>
        </div>
    </ul>
</div>